@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

html, 
body {
padding: 0;
margin: 0;
font-family: Raleway;
/*background-color: rgba(0, 0, 0, .3);*/

color: black;

;
}

html{
    background-image: url("../Images/Background2.jpg");
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-color: rgba(0, 0, 0, .5);
background-blend-mode: multiply;
}

.Image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.AboutImage{
    width: 40%;
}

.FootImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

body {
    max-width: 1000px;
    margin: auto;
}

p {
    font-size: 15pt;
    line-height: 21pt;
    text-align: justify;
    margin-bottom: 4rem;
    padding: 2rem;
}

.Banner{
    /*background-color: black;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.BannIm{
    width: 50%;
}

section:nth-child(odd), .BlogPreview:nth-child(odd){
    background-color: #a755fd;
}

section:nth-child(even), .BlogPreview:nth-child(even){
    background-color: #6080f2;
}

section{
    margin: 1rem;
}

.BlogPreview, .ContactDetails, .AboutData{
    color: black;
    /*background-color: #a755fd;*/
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
    text-align: center;
}


.BlogPreview p{
    margin-bottom: .8rem;
    padding: 0;
}

.AboutData p{
    padding-top: 0;
    margin-bottom: 0;
}

.ContactDetails p{
    font-size: 2rem;
    margin-bottom: 0rem;
    padding: 0;
}

.ReadButton, .LinkButton{
    text-decoration: none;
    color: darkgrey;
    background-color: black;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-family: Raleway;    
    margin-bottom: .6rem;
}

.ReadButton:hover, .LinkButton:Hover{
    background-color: #6c4ba6;
    color: #e75cff;

}

.BlogDate{
    color: darkgrey;
    text-align: center;
    font-size: 1.4rem;
}

.ContactLinks{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ContactLinks li, .ContactLinks a{
    position: relative;
    margin: .5rem;
}

.SectionHead{
    margin: 1rem;
    text-align: center;
}


.Wireframes ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Wireframes li{
    position: relative;
    display: inline-block;
}


.WFImage{
    width: 20%;
}

.Display{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.DisplayGal{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Display img{
    width: 50%;
    margin-bottom: 1rem;
}

.GalImage{
    position: relative;
    display: inline-block;
    justify-content: center;
    width: 30%;
    margin: .5rem;
}

.WF{
    width: 45%;
}

.Heading{
    text-align: center;
    padding-top: 1rem;
    font-size: 1.9rem;
}

.Headlines{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
}

.Headline{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 0.9rem;
}

.VidDisp{
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0rem;
}

.responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    
}
.responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    margin-bottom: 1rem;
}